APP_base_config_path="base/config/path"
APP_app_config_path="app/config/path"
APP_push_config_path="push/config/path"

S3_access_key="access_key"
S3_secret_key="secret_key"
S3_endpoint_url="endpoint_url"
S3_bucket_name="bucket_name"
S3_region="region"
S3_upload_directory="directory/to/upload"